.product-container {
    margin: 10px 15% 10px 15%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    // box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

    .product-card {
        position: relative;
        width: 250px;
        // outline: 1px solid gray;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        padding: 12px;
        background-color: rgb(218, 228, 236);

        &:hover {
            transform: scale(1.03);
            transition: 300ms;
        }

        .product-img {
            width: 250px;
            height: 200px;
            // outline: 1px solid gray;
            border-radius: 4px;
        }

    }
}