.product-container {
    margin: 10px 15% 10px 15%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 120px;

    .product-card {
        position: relative;
        width: 250px;
        outline: 1px solid gray;
        border-radius: 8px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        cursor: pointer;

        .product-img {
            width: 250px;
            height: 200px;
            outline: 1px solid gray;
            box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
        }

    }
}