.history-container {
    margin: 0 15%;
    min-height: 70vh;
    background-color: rgb(250, 247, 247);
    box-shadow: 0px 10px 8px -3px rgba(0, 0, 0, 0.1);
    // box-shadow: 11px 8px 24px 5px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    .order-history {

        .data-label {
            display: flex;
        }

        .data-order {
            display: flex;
            border-bottom: 1px solid gray;
        }
    }

}

.icon-cancel {
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 12px;
}

.sub-data-order {
    display: flex;
    margin: 20px 10px;
    border-bottom: 1px solid gray;

    .product-img {
        width: 60px;

    }

    p {
        width: 20%;
        font-weight: 600;
    }
}