.pdContainer {
    margin: 0 10%;

    .navContainer {
        .product-detail {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            margin-bottom: 20px;

            .imgProduct {
                width: 350px;
                height: 350px;
                outline: none;
                border: 1px solid gray;
                border-radius: 4px;
                margin-right: 20px;
            }

            .sub-product-detail {

                .order-wrapper {}

                .promotion {
                    display: flex;
                    justify-content: space-between;
                }

                .transport {
                    display: flex;
                    justify-content: space-between;

                    .sub-transport {
                        margin-left: 200px;

                        .order-process {
                            display: flex;

                            .order-process-icon {
                                width: 25px;
                                height: 25px;
                                margin: auto;
                                margin-right: 5px;
                            }
                        }

                        .shipp {
                            display: flex;
                            justify-content: end;

                            .shipp-icon {
                                width: 25px;
                                height: 25px;
                                margin: 13px 5px 13px 0;
                            }
                        }
                    }
                }

                .amount {
                    display: flex;
                    justify-content: space-between;

                    .sub-amount {
                        display: flex;

                        .change-quantity {
                            width: 40px;
                            height: 40px;
                            outline: none;
                            border: 1px solid gray;
                            border-radius: 50%;
                            cursor: pointer;
                            margin: 8px 1px;

                            p {
                                font-size: 24px;
                                font-weight: 600;
                                margin-top: 4px;
                                margin-left: 15px;
                            }

                            .plus {
                                margin-top: 5px;
                            }

                            &:hover {
                                background: whitesmoke;
                            }
                        }
                    }

                }

                .buy-a-add {
                    display: flex;
                    margin-top: 20px;

                    .btn-buy {
                        display: flex;
                        width: 120px;
                        height: 35px;
                        justify-content: space-around;
                        outline: none;
                        // border: 2px solid gray;
                        margin: auto;
                        padding: 8px;
                        cursor: pointer;
                        text-align: center;
                        background-color: rgb(250, 247, 247);
                        position: relative;
                        // top: 50%;
                        // left: 50%;
                        // transform: translate(-50%, -50%);
                        box-shadow: 11px 8px 24px 5px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
                        border-radius: 15px;
                        background-color: #5FBDFF;
                        margin-right: 10px;
                        color: white;

                        p {
                            margin-top: 7px;
                            font-weight: 600;
                        }

                        &:hover {
                            background-color: #2ca1f5;

                        }

                        .pay-icon {
                            margin-top: 3px;
                            width: 30px;
                            height: 30px;
                        }
                    }

                    .btn-add-cart {
                        display: flex;
                        justify-content: space-around;
                        width: 200px;
                        height: 35px;
                        outline: none;
                        // border: 2px solid gray;
                        margin: auto;
                        padding: 8px;
                        cursor: pointer;
                        text-align: center;
                        position: relative;
                        // top: 50%;
                        // left: 50%;
                        // transform: translate(-50%, -50%);
                        box-shadow: 11px 8px 24px 5px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
                        border-radius: 15px;

                        background-color: #C1F2B0;

                        p {
                            margin-top: 7px;
                            font-weight: 600;
                        }

                        &:hover {
                            background-color: #8ff36e;

                        }

                        .add-cart {
                            margin-top: 3px;
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }

    .label-nutrition {
        font-size: 24px;
        color: #5C8374;
        font-weight: 600;
        // text-decoration: underline;
    }

    .table-nutrition {
        width: 60%;
        border-collapse: collapse;
        border: 1px solid;
        text-align: center;
        margin: 0 20%;
        margin-bottom: 20px;

        thead {
            background-color: #96EFFF;
        }

        tr {
            border: 1px solid;
            padding: 9px;
        }

        th {
            padding: 9px;
            border: 1px solid;
        }

        .component-item {
            text-align: left;
            font-weight: 600;
        }

        .nutrition-item {
            font-weight: 600;
            color: #527853;
            font-size: 18px;
        }
    }

    .label-product-detail {
        font-size: 24px;
        color: #5C8374;
        font-weight: 600;
        // text-decoration: underline;
    }
}